body {
    margin: 0;
    height: 100vh;
    color: white;

    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    grid-template-rows: 35px 1fr 50px; /* altura da linha */
    grid-template-columns: 1fr 105px;
}

header {
    display: flex; 
    justify-content: space-between; 
    grid-area: header;
    padding: 0 15px;
    background-color: green;
}

div {
    display: flex;
    align-items: center;
}

.top {
    font-size: 24px;
    font-weight: bold;
}

main {
    display: flex; /* display para centralizar */
    align-items: center; /* centralizar vertical */
    justify-content: center; /* centralizar horizontal */
    grid-area: main;
    background-color: red;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: aside;
    background-color: blue;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: gray;
}
