body {
    margin: 0;
    height: 100vh;
    color: white;

    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    grid-template-rows: 30px 1fr 40px; /* altura da linha */
    grid-template-columns: 1fr 105px;
}

h2 {
    text-align: center;
}

header {
    display: flex; /* display para centralizar */
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    grid-area: header;
    background-color: green;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
    background-color: red;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: aside;
    background-color: blue;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: gray;
}
